$ cat .gitignore

# Ignorar
.zfproject.xml
application/Bootstrap.php
application/configs/application.ini
public/index.php

/nbproject/**/* 
/library/C3op/Form/Decorators.php
/tests/log/**/*
/nbproject/
/temp/
/application/default_production_Bootstrap.php
/application/staging_Bootstrap.php
/application/_staging_Bootstrap.php
/application/configs/staging_application.ini
/application/configs/_staging_application.ini
/application/configs/default_production_application.ini
/application/modules/projects/views/scripts/project/full-detail.phtml