<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="pt-br"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="pt-br"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="pt-br"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="pt-br"> <!--<![endif]-->
<html>
  <head>
  <link type="text/css" href="public/css/jquery.treeTable.css" rel="stylesheet" />
  <script type="text/javascript" src="public/js/jquery.js"></script>
  <script type="text/javascript" src="public/js/jquery.treeTable.js"></script>
  <script type="text/javascript">
  
  $(document).ready(function()  {
    $("#tree").treeTable();
  });
  
  </script> 
  </head>
  <body style="padding:10px">

    <table id="tree" border="1">
    	<thead>
    		<tr>
    			<th width="200" align="left">Ação</th>
    			<th width="200" align="left">Responsável</th>
    			<th width="100" align="left">Início prev.</th>
    			<th width="100" align="left">Início real</th>
    			<th width="100" align="left">Término prev.</th>
    			<th width="100" align="left">Término real</th>
    		</tr>
    	</thead>
    	<tbody>

        <!-- # Rodrigo, este seria o conteúdo gerado pelo loop -->
        <tr id="node-1">
          <td><a href='/projects/action/detail/?id=1'>Projeto executivo</a></td>
          <td>Kelly Miranda</td>
          <td>01/09/2012</td>
          <td>01/09/2012</td>
          <td>30/09/2012</td>
          <td>30/09/2012</td>
        </tr>
        <tr id="node-2" class="child-of-node-1">
          <td><a href='/projects/action/detail/?id=2'>Redação do projeto executivo</a></td>
          <td>Pedro Silva</td>
          <td>01/09/2012</td>
          <td>01/09/2012</td>
          <td>10/09/2012</td>
          <td>10/09/2012</td>
        </tr>
        <tr id="node-3" class="child-of-node-2">
          <td><a href='/projects/action/detail/?id=3'>Impressão do projeto executivo</a></td>
          <td></td>
          <td>11/09/2012</td>
          <td>11/09/2012</td>
          <td>20/09/2012</td>
          <td>20/09/2012</td>
        </tr>
        <tr id="node-3" class="child-of-node-1">
          <td><a href='/projects/action/detail/?id=3'>Entrega  do projeto executivo</a></td>
          <td>Pedro Silva</td>
          <td>20/09/2012</td>
          <td>20/09/2012</td>
          <td>30/09/2012</td>
          <td>30/09/2012</td>
        </tr>
        <tr id="node-4">
          <td><a href='/projects/action/detail/?id=4'>Pesquisa qualitativa</a></td>
          <td>Kelly Miranda</td>
          <td>01/10/2012</td>
          <td>01/10/2012</td>
          <td>30/10/2012</td>
          <td>30/10/2012</td>
        </tr>
        <tr id="node-5" class="child-of-node-4">
          <td><a href='/projects/action/detail/?id=5'>Preparação do questionário</a></td>
          <td>Maria Ferreira</td>
          <td>01/10/2012</td>
          <td>01/10/2012</td>
          <td>20/10/2012</td>
          <td>20/10/2012</td>
        </tr>
        <tr id="node-6" class="child-of-node-4">
          <td><a href='/projects/action/detail/?id=5'>Treinamento dos entrevistadores</a></td>
          <td>Paula Matos</td>
          <td>10/10/2012</td>
          <td>10/10/2012</td>
          <td>20/10/2012</td>
          <td>20/10/2012</td>
        </tr>
        <tr id="node-7" class="child-of-node-6">
          <td><a href='/projects/action/detail/?id=5'>Pesquisa de campo</a></td>
          <td>Paula Matos</td>
          <td>20/10/2012</td>
          <td>20/10/2012</td>
          <td>30/10/2012</td>
          <td>30/10/2012</td>
        </tr>

        <!-- # Fim do loop -->

      </tbody>
    </table>

  </body>
</html>